body {
    text-align: center;
}

#main {
    width: 60%;
    text-align: center;
    float: left;
}

#side {
    width: 40%;
    text-align: center;
    float: right;
}

input, textarea {
    display: block;
    margin: 5px auto 16px;
    position: relative;
    left: 0;
    right: 0;
}

input[type='submit'] {
    display: inline-block;
    margin: 5px 3px 16px;
    width: 80px;
    height: 40px;
}

ul {
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    text-align: left;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li {
    padding: 5px;
}

.btn-to-home {
    position: absolute;
    left: 20px;
    top: 20px;
}

.errors {
    color: rgba(240, 35, 35, 0.7);
}

.author {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    color: #ccc;
    font-size: 12pt;
}